<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}Munin{% endblock %}</title>
		{% load django_bootstrap5 %}
		{% bootstrap_css %}
		<style>
		body {
		  padding-top: 80px;
		}
		</style>
		{% block extrahead %}{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<div class="container-fluid">
				<a class="navbar-brand" href="{% url 'main' %}">Munin Admin</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav me-auto">
						<li class="nav-item"><a class="nav-link" href="{% url 'host_list' %}">Hosts</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'group_list' %}">Groups</a></li>
					</ul>
					<ul class="navbar-nav">
						{% if user.is_authenticated %}
							<li class="nav-item"><a class="nav-link" href="{% url 'password_change' %}">Logged in as <strong>{{ user.username }}</strong></a></li>
							<li class="nav-item"><a class="nav-link" href="{% url 'logout' %}?next=/">Logout</a></li>
						{% else %}
							<li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
						{% endif %}
							<li class="nav-item"><a class="nav-link" href="/">Back to Munin</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			{% block content %}{% endblock %}
		</div>
		{% bootstrap_javascript %}
	</body>
</html>
